# ====== Java / Spring Boot ======
target/
*.jar
*.war
*.class
*.log

# ====== Node / React ======
node_modules/
build/
dist/
coverage/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
_env

# ====== Misc ======
*.zip
.github/

# ====== IDE / Editors ======
.idea/
.vscode/
*.iml
*.project
*.classpath
*.settings/